header {
  .navbar {
    background-color: $colorNavbar;

    &-brand {
      img {
        width: 30px;
      }
    }
  
    .nav-link {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: $colorEfectos;
        @include posicionLineaLinks(7px, -16px, 7px);
        height: 4px;
        transform: scaleX(0);
        transition: transform $tiempoTransicion;
        transform-origin: center;
      }
      
      &:hover::after {
        transform: scaleX(1);
      }
    }

    .nav-item {
      .active::after {
        content: "";
        position: absolute;
        background-color: $colorEfectos;
        @include posicionLineaLinks(7px, -16px, 7px);
        height: 4px;
        transform: scaleX(1);
      }
    }
  }
}
