@media screen and (max-width: 576px) {
  header {
    .navbar {
      &-brand {
        display: none;
      }
      .nav-link {
        &::after {
          content: "";
          position: absolute;
          background-color: $colorEfectos;
          @include posicionLineaLinks;
          height: 3px;
          transform: scaleX(0);
          transition: transform 0.4s;
          transform-origin: center;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
      .nav-item {
        .active::after {
          content: "";
          position: absolute;
          background-color: $colorEfectos;
          @include posicionLineaLinks;
          height: 3px;
          transform: scaleX(1);
        }
      }
    }
  }
}